<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617598860374-ttedgfor4ipoonh0a1n9b4q8pa5k9b3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617598860374-ttedgfor4ipoonh0a1n9b4q8pa5k9b3v</string>
	<key>API_KEY</key>
	<string>AIzaSyDuzyhDpSHV7ZH21BYDbkfC91zfjHNgZZc</string>
	<key>GCM_SENDER_ID</key>
	<string>617598860374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payloChat</string>
	<key>PROJECT_ID</key>
	<string>minichatapp-f0044</string>
	<key>STORAGE_BUCKET</key>
	<string>minichatapp-f0044.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617598860374:ios:1a3e6be14b244cd5714ff7</string>
</dict>
</plist>